bin
target
.cache
include/Elm.def
include/Elm-parenthesize.str
include/Elm-Permissive.def
include/Elm.generated.pp.af
include/Elm.packed.esv
include/Elm.pp.af
include/Elm.rtg
include/Elm.str
include/Elm.tbl
include/elm.rtree
include/elm.ctree
include/elm.ctree.dep
include/elm.jar
include/elm-java.jar
editor/java/trans
editor/*.generated.*
syntax/Elm*.generated.esv
syntax/Elm.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
/src-gen
